[defaults]
# --- Основные настройки ---
# Путь к файлу инвентаря (список хостов)
inventory = ./inventory.yml

# Пользователь для подключения к серверам
remote_user = skilful

# Количество параллельных процессов (по умолчанию 5)
#forks = 10

# Отключить проверку SSH-ключа хоста (только для тестовых стендов!)
host_key_checking = False

# --- Настройки для вывода информации ---
# Показывать различия в файлах при изменениях (как git diff)
#diff = True

[privilege_escalation]
# --- Настройка повышения привилегий (sudo) ---
# Включать ли повышение привилегий по умолчанию
become = True

# Метод повышения (обычно sudo или su)
become_method = sudo

# Пользователь, от которого выполнять команды (обычно root)
#become_user = root

[ssh_connection]
# --- Настройки SSH соединения ---
# Ускоряет работу, переиспользуя одно SSH-соединение для нескольких задач
#pipelining = True